//
// Map
//

.map-canvas {
  position: relative;
  width: 100%;
  height: $map-height;
  border-radius: $border-radius;
  overflow-anchor: none;
}

.main-content .container-fluid,
.city-info {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.gm-style-iw-d {
  overflow: initial !important;
  display: flex !important;
  padding-bottom: 0 !important;
}

.city-info-station {
  max-width: 200px !important;
}
